/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 13px Arial, Helvetica, sans-serif; }

footer {
  border: 2px dashed rgba(146, 0, 165, 0.5);
  background-color: rgba(146, 0, 165, 0.15);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNicgaGVpZ2h0PSc2Jz4KICA8cmVjdCB3aWR0aD0nNicgaGVpZ2h0PSc2JyBmaWxsPScjZWVlZWVlJy8+CiAgPGcgaWQ9J2MnPgogICAgPHJlY3Qgd2lkdGg9JzMnIGhlaWdodD0nMycgZmlsbD0nI2U2ZTZlNicvPgogICAgPHJlY3QgeT0nMScgd2lkdGg9JzMnIGhlaWdodD0nMicgZmlsbD0nI2Q4ZDhkOCcvPgogIDwvZz4KICA8dXNlIHhsaW5rOmhyZWY9JyNjJyB4PSczJyB5PSczJy8+Cjwvc3ZnPg==");
  background-repeat: repeat; }

a {
  color: inherit;
  text-decoration: none; }

nav {
  height: 50px;
  color: white;
  background-color: #f72210; }

main {
  margin-left: 15px;
  margin-right: 15px; }

footer {
  margin: 15px; }

h2 {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  padding-bottom: .5em; }

.nw-logo {
  display: block;
  background-image: url(../img/logo.svg);
  fill: white;
  width: 132px;
  height: 20px; }

.image-with-cornerbox {
  position: relative;
  width: 100%; }
  .image-with-cornerbox img {
    width: 100%; }
  .image-with-cornerbox a.cornerbox {
    bottom: 0px;
    left: 0px;
    color: #f72210;
    font: bold 17px "Roboto Condensed", sans-serif;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 8px 15px 9px;
    position: absolute;
    text-transform: uppercase; }

#top-story {
  margin-bottom: 2em; }
  #top-story h3 {
    font-family: 17px "Roboto Condensed", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: black;
    padding: .5em 0; }
  #top-story p {
    padding: .5em 0; }

#culture-and-travel > div {
  margin-bottom: 2em; }
#culture-and-travel img {
  width: 100%; }
#culture-and-travel h3 {
  color: black;
  font: 20px Lora, serif;
  padding: .5em 1em; }
#culture-and-travel p {
  color: rgba(39, 39, 39, 0.5);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding: .5em 1em; }
#culture-and-travel .btn {
  font: 13px Arial, Helvetica, sans-serif;
  background-color: #c2d4d7;
  padding: 0px 6px;
  margin: 0px 9px 6px 1em; }

#more-stories > div {
  border-top: thin solid rgba(128, 128, 128, 0.4);
  padding-top: 1em;
  margin-bottom: 2em; }
#more-stories img {
  width: 55%;
  float: left;
  margin: 0 10px 5px 0; }
#more-stories h3 {
  color: black;
  font: bold 17px "Roboto Condensed", sans-serif; }
#more-stories p {
  color: rgba(39, 39, 39, 0.5);
  font: 13px Arial, Helvetica, sans-serif;
  padding: .5em 1em; }

#featured-stories {
  margin-bottom: 2em; }
  #featured-stories h3 {
    font: bold 20px "Roboto Condensed", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: .5em 0; }
  #featured-stories p {
    padding: .5em 0; }

#opinion > div {
  display: grid;
  grid-template-areas: "photo header" "photo author";
  grid-template-columns: 73px 1fr;
  grid-template-rows: auto auto;
  border-bottom: thin solid rgba(128, 128, 128, 0.29);
  padding-bottom: .5em;
  margin-bottom: .5em; }
#opinion img {
  grid-area: photo;
  align-self: center; }
#opinion h3 {
  grid-area: header;
  font: bold 17px "Roboto Condensed", sans-serif;
  color: black;
  margin-bottom: .5em; }
#opinion h4 {
  grid-area: author;
  font: bold 14px "Roboto Condensed", sans-serif;
  color: #555;
  text-transform: uppercase;
  margin-bottom: .5em; }

#latest-news > div {
  display: grid;
  grid-template-areas: "photo header";
  grid-template-columns: 268px 1fr;
  grid-template-rows: auto;
  border-bottom: thin solid rgba(128, 128, 128, 0.29);
  padding-bottom: .7em;
  margin-bottom: .7em; }
#latest-news img {
  grid-area: photo;
  align-self: center;
  width: 258px;
  height: 172px; }
#latest-news h3 {
  grid-area: header;
  font: bold 17px "Roboto Condensed", sans-serif;
  color: black;
  margin-bottom: .5em; }

#mid-sign-up {
  background-color: #f4f5f6;
  color: #333;
  border: thin solid rgba(128, 128, 128, 0.25);
  font: bold 19px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  margin: 0px 76px 30px;
  padding: 20px;
  display: grid;
  grid-template-areas: "logo head" "sign sign" "pref pref";
  grid-template-columns: 38px 1fr;
  grid-template-rows: auto 1fr auto; }
  #mid-sign-up h3 {
    grid-area: head; }
  #mid-sign-up .logo {
    grid-area: logo;
    width: 28px;
    height: 28px;
    background-color: #f72210;
    background-image: url(../img/logo-n1.svg);
    align-self: center; }
  #mid-sign-up .signup {
    grid-area: sign;
    padding: 20px 0; }
    #mid-sign-up .signup a {
      padding: 10px;
      color: white;
      background-color: #666; }
  #mid-sign-up a.prefs {
    grid-area: pref;
    font: bold 15px 'Roboto Condensed', sans-serif;
    text-transform: none; }
