@import 'reset.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

// font: font-style font-variant font-weight font-size/line-height font-family

$main-margin: 15px;
$newsweek-red: #f72210;

$default-font: 13px Arial, Helvetica, sans-serif;

$corner-box-font: bold 17px 'Roboto Condensed', sans-serif;
$top-story-title-font: 17px 'Roboto Condensed', sans-serif;
$culture-font: Helvetica, Arial, sans-serif;
$culture-title-font: 18px "Lora", serif;
$more-stories-title-font: bold 17px 'Roboto Condensed', sans-serif;
$featured-stories-title-font: bold 20px 'Roboto Condensed', sans-serif;
$opinion-title-font: bold 17px 'Roboto Condensed', sans-serif;
$opinion-author-font: bold 14px 'Roboto Condensed', sans-serif;
$sponsored-title-font: bold 20px 'Roboto Condensed', sans-serif;
$mid-sign-up-title-font: bold 19px 'Roboto Condensed', sans-serif;

%default-font {
  font: $default-font;
}

%mark {
  border: 2px dashed rgba(146, 0, 165, 0.5);
  background-color: rgba(146, 0, 165, 0.15);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNicgaGVpZ2h0PSc2Jz4KICA8cmVjdCB3aWR0aD0nNicgaGVpZ2h0PSc2JyBmaWxsPScjZWVlZWVlJy8+CiAgPGcgaWQ9J2MnPgogICAgPHJlY3Qgd2lkdGg9JzMnIGhlaWdodD0nMycgZmlsbD0nI2U2ZTZlNicvPgogICAgPHJlY3QgeT0nMScgd2lkdGg9JzMnIGhlaWdodD0nMicgZmlsbD0nI2Q4ZDhkOCcvPgogIDwvZz4KICA8dXNlIHhsaW5rOmhyZWY9JyNjJyB4PSczJyB5PSczJy8+Cjwvc3ZnPg==");
  background-repeat: repeat;
}

body {
  @extend %default-font;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  height: 50px;
  color: white;
  background-color: $newsweek-red;
}

main {
//  margin-left: $main-margin;
//  margin-right: $main-margin;
}

footer {
  @extend %mark;
  margin: $main-margin;
}

//div,
//#top-story,
//#culture-and-travel
//{ @extend %mark; }

h2 {
  color: rgba(3, 3, 3, .4);
  font: bold 16px 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  padding-bottom: .5em;
}

.nw-logo {
  display: block;
  background-image: url(../img/logo.svg);
  fill: white;
  width: 132px;
  height: 20px;
}

.image-with-cornerbox {
  position: relative;
  width: 100%;

  img {
    width: 100%;
  }

  a.cornerbox {
    bottom: 0px;
    left: 0px;
    color: $newsweek-red;
    font: $corner-box-font;
    background-color: rgba(255,255,255,.9);
    padding: 8px 15px 9px;
    position: absolute;
    text-transform: uppercase;
  }
}

#top-story {
  margin-bottom: 2em;

  h3 {
    font-family: $top-story-title-font;
    font-size: 22px;
    font-weight: bold;
    color: black;
    padding: .5em 0;
  }

  p {
    padding: .5em 0;
  }
}

#culture-and-travel {

  div.cultr {
    padding-bottom: 2em;
  }

  img {
    width: 100%;
  }

  h3 {
    color: black;
    font: $culture-title-font;
    padding: .5em 1em;
    line-height: 1.1em;
  }

  p {
    color: rgba(39,39,39,.5);
    font-family: $culture-font;
    font-size: 15px;
    padding: .5em 1em;
    line-height: 1.2em;
  }

  .btn {
    font: $default-font;
    background-color: #c2d4d7;
    padding: 0px 6px;
    margin: 0px 9px 6px 1em;
  }
}

#more-stories {

  & > div {
    clear: both;
    border-top: thin solid rgba(128, 128, 128, 0.4);
    padding-top: 1em;
    margin-bottom: 2em;
  }

  img {
    width: 55%;
    float: left;
    margin: 0 10px 5px 0;
  }

  h3 {
    color: black;
    font: $more-stories-title-font;
  }

  p {
    color: rgba(39,39,39,.5);
    font: $default-font;
    padding: .5em 1em;
  }

  @media (max-width: 767px) and (min-width: 481px) {
    img {
      width: 258px;
    }
  }

  @media screen and (min-width: 768px) {
    img {
      width: 135px;
      height: 90px;
    }
  }
}

#featured-stories {
  margin-bottom: 2em;

  h3 {
    font: $featured-stories-title-font;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: .5em 0;
  }

  p {
    padding: .5em 0;
  }
}

#opinion {

  & > div {
    display: grid;
    grid-template-areas:
      "photo header"
      "photo author";
    grid-template-columns: 73px 1fr;
    grid-template-rows: auto auto;
    border-bottom: thin solid rgba(128, 128, 128, 0.29);
    padding-bottom: .5em;
    margin-bottom: .5em;
  }

  img {
    grid-area: photo;
    align-self: center;
  }

  h3 {
    grid-area: header;
    font: $opinion-title-font;
    color: black;
    margin-bottom: .5em;
  }

  h4 {
    grid-area: author;
    font: $opinion-author-font;
    color: #555;
    text-transform: uppercase;
    margin-bottom: .5em;
  }

}

#latest-news {

  $image-width: 258px;
  $image-height: $image-width * 2 / 3;

  & > div {
    display: grid;
    grid-template-areas: "photo header";
    grid-template-columns: ($image-width + 10) 1fr;
    grid-template-rows: auto;
    border-bottom: thin solid rgba(128, 128, 128, 0.29);
    padding-bottom: .7em;
    margin-bottom: .7em;
  }

  img {
    grid-area: photo;
    align-self: center;
    width: $image-width;
    height: $image-height;
  }

  h3 {
    grid-area: header;
    font: $opinion-title-font;
    color: black;
    margin-bottom: .5em;
  }

  @media screen and (min-width: 768px) {
    $image-width: 135px;
    $image-height: $image-width * 2 / 3;

    & > div {
      grid-template-columns: ($image-width + 10) 1fr;
    }

    img {
      width: $image-width;
      height: $image-height;
    }
  }

}

#sponsored {
  margin-bottom: 2em;

  & > div {
    border: thin solid rgba(128, 128, 128, 0.24);
  }

  h3 {
    font: $sponsored-title-font;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: .5em 1em;
  }

  p {
    padding: .5em 20px 20px;
    font-size: 1.1em;
  }

  .signup {
    background-color: #f4f5f6;

    $logo-size: 28px;

    color: #333;
    font: $mid-sign-up-title-font;
    text-transform: uppercase;
    padding: 20px;
    display: grid;
    grid-template-areas:
      "logo head"
      "sign sign"
      "pref pref"    ;
    grid-template-columns: ($logo-size + 10) 1fr;
    grid-template-rows: auto 1fr auto;
  //  grid-gap: 8px;

    h3 {
      grid-area: head;
    }

    .logo {
      grid-area: logo;
      width: $logo-size;
      height: $logo-size;
      background-color: $newsweek-red;
      background-image: url(../img/logo-n1.svg);
      align-self: center;
    }

    .signup-button {
      grid-area: sign;
      padding: 20px 0;

      a {
        color: white;
        background-color: #666;
      }
    }

    a.prefs {
      grid-area: pref;
      font: bold 15px 'Roboto Condensed', sans-serif;
      text-transform: none;
    }
  }
}
